name: responsive_navigation_bar_example

description: Demonstrates how to use the responsive_navigation_bar package.

version: 1.0.0+1

publish_to: 'none'

environment:
  sdk: '>=3.6.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  responsive_navigation_bar:
    path: ../

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
